In [13]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
import requests
from webdriver_manager.chrome import ChromeDriverManager

In [14]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=True)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [/Users/zhuolima/.wdm/drivers/chromedriver/mac64/96.0.4664.45/chromedriver] found in cache

# NASA Mars News

In [42]:
#Scrape the Mars News Site and collect the latest News Title
#and Paragraph Text. Assign the text to variables that you can reference later.

Nasa_url = 'https://mars.nasa.gov/news/'

browser.visit(Nasa_url)

response = requests.get(Nasa_url)

soup = BeautifulSoup(response.text, 'html.parser')

titles = soup.find('div', class_='content_title').find('a').text
print(titles)

NASA's Perseverance Sheds More Light on Jezero Crater's Watery Past

In [43]:
html = browser.html
soup = bs(html, 'html.parser')
paragraph = soup.find('div',class_='article_teaser_body').text
print(paragraph)

An artistic interpretation of Curiosity’s view high up on a Martian mountain was created by mission team members who were stunned by the sweeping landscape.

# JPL Mars Space Images - Featured Image

In [1]:
# Visit JPL Featured Space Image
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

NameError: name 'browser' is not defined

In [ ]:
# Use splinter to navigate the site and find the image url for the current 'Featured Mars Image'
full_image_elem = browser.find_by_id('full_image')
full_image_elem.click()

In [ ]:
# Find the more info button and click that
more_info_elem = browser.links.find_by_partial_text('more info')
more_info_elem.click()

# Mars Facts

In [67]:
#Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about
#the planet including Diameter, Mass, etc.

mars_df = pd.read_html("https://galaxyfacts-mars.com/")[1]


mars_df.columns=['Characteristics', 'Mars']
mars_df.set_index('Characteristics', inplace=True)
mars_df

                                               Mars
Characteristics
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [68]:
#Use Pandas to convert the data to a HTML table string.

mars_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n    </tr>\n    <tr>\n      <th>Characteristics</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

# Mars Hemispheres

In [ ]:
#You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.


#Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.


#Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.